# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Terraform variable files
*.tfvars
*.tfvars.json

# Sensitive files
*.pem

# Python
__pycache__/
*.pyc
.venv/

# macOS
.DS_Store

# VS Code
.vscode/
